* {
    margin:0; 
    padding:0;
    width: 100%;
}

/*LOGIN VIEW*/
.Log-In{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
    padding: 10px;
    width: 97.5%;

}

.Log-In .formulario {
    border: black 2px solid;
    padding: 10px;
    background-color: rgb(190, 183, 183);
}

.formulario a{
    text-decoration: none;
    color: rgb(22, 1, 162);
}

.formulario label{
    width: 40%;
}

.formulario input{
    width: 40%;
}

/*REGISTER VIEW*/
.register{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
    padding: 10px;
    width: 97.5%;

}

.register .register-form {
    border: black 2px solid;
    padding: 10px;
    background-color: rgb(190, 183, 183);
    padding: 10px;
}

.register-form label{
    width: 5%;
}

.register-form input{
    width: 11.3%;
}

.register-form a{
    text-decoration: none;
    color: rgb(22, 1, 162);
    
}

/*CHANGE PASSWORD*/
.change-container{    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
    padding: 10px;
    width: 97.5%;
}

.change-div{
    border: black 2px solid;
    padding: 10px;
    background-color: rgb(190, 183, 183);
    padding: 10px;
}

.change-form{
    border: black 2px solid;
    padding: 10px;
    background-color: rgb(190, 183, 183);
    padding: 10px;
}

/*PRODUCTS VIEW*/

.products-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    padding: 15px;
}

.user-information p{
    margin: 10px;
    font-size: 20px;
}

.buttons-redirection-products{
    margin: 5px;
}

.logOutBtn{
    margin: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    background-color: black;
    text-decoration: none;
}

.cartBtn{
    margin: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    background-color: black;
    text-decoration: none;
}

.adminBtn{
    margin: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    background-color: black;
    text-decoration: none;
}

.products-list-text{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
}

.products-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    margin: 5px;
}

.card{
    border: 2px solid black;
    height: 247px;
    width: 200px;
    margin: 5px;
}

.card-image{
    height: 100px;
    width: 200px;
}

.card-text{
    height: 200px;
    width: 200px;
}

.card p{
    font-size: 14px;
}

.card-btn{
    background-color: black;
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 30px;
    width: 200px;
}

.card-btn a{
    width: 100%;
    color: white;
    text-decoration: none;
}



/* CART VIEW */

.return-products{
    margin: 5px;
    padding: 10px;
}
.return-products{
    color: white;
    font-size: 20px;
}

.cart-title{
    background-color: gray;
    font-size: 22px;
}

.purchase-btn{
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

.return-btn{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

/* INCOMPLETE PURCHASE */

.container-incomplete-purchase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
    font-size: 24px;
    height: 610px;
}

.incomplete-content{
    align-items: center;
    justify-content: center;
}

.return-to{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 25px;
    text-decoration: none;
}

/* COMPLETE PURCHASE */

.container-complete-purchase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
    font-size: 24px;
    height: 610px;
    width: 100%;
}

.complete-content{
    border: 2px solid black;
    padding: 15px;
    width: 350px;
    align-items: center;
    justify-content: center;
}

/* CART-EMPTY */
.container-cart-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
    font-size: 24px;
    height: 610px;
    width: 100%;
}

/* ADMIN PANEL */

.adminPanel-text{
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

.adminPanelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    width: 1250px;
}

.return-btn-admin{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}