<div class="container-complete-purchase">
    <h2>Your purchase was made correctly: </h2>
    <div class="complete-content">
        <h3>Ticket: </h3>
        <p>code: {{code}}</p>
        <p>date: {{date}}</p>
        <p>amount: {{amount}}</p>
        <p>email: {{purchaser}}</p>
    </div>
    <a href="/products" class="return-to">Return to products</a>
</div>