<div>
    <h1>Log in</h1>
    <form id="loginForm">
        <label>Email: </label>
        <input name="email">
        <label>Password: </label>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit">
    </form>
    <p>Are you not registered?<a href="/register">Register here</a></p>
</div>

<script src="/js/login.js"></script>