
<form id="formProduct">
    <h2>Agregar producto</h2>
        <input type="text" name="title" id="title" placeholder="Ingrese Nombre del Producto" required>
        <input type="text" name="description" id="description" placeholder="Ingrese la descripcion" required>
        <input type="number" name="stock" id="stock" placeholder="Ingrese su stock" required>
        <input type="text" name="thumbnail" id="thumbnail" placeholder="Ingrese su imagen url" required>
        <input type="text" name="category" id="category" placeholder="Ingrese la categoria" required>
        <input type="number" name="price" id="price" placeholder="Ingrese su precio" required>
        <input type="text" name="code" id="code" placeholder="Ingrese su code" required>
        <button type="submit" id="add-btn" >Agregar</button>
    <h2>Eliminar producto</h2>
    <input type="number" name="id-prod" id="id-prod" placeholder="Ingrese ID" >
   <button type="button" id="delete-btn">Eliminar</button>
</form>

<div id="list-products"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>